<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/admin.css">
  <script src="static/js/admin.js"></script>
  <title>admin</title>
</head>

<body>
  <div class="left_navbar">
    <div class="lable_container">
      <ul>
        <li class="navbar_lable" id="userlable" onclick="getAdminUser()" 
        onmouseover="mouseOverUserAdmin()" onmouseout="mouseOutUserAdmin()">
          <span class="word">用户管理</span>
        </li>
        <li class="navbar_lable" id="catagorylable" onclick="getAdminCatagory()" 
        onmouseover="mouseOverCatagoryAdmin()" onmouseout="mouseOutCatagoryAdmin()">
          <span class="word">商品管理</span>
        </li>
        <li class="navbar_lable" id="orderlable" onclick="getAdminOrder()" 
        onmouseover="mouseOverOrderAdmin()" onmouseout="mouseOutOrderAdmin()">
          <span class="word">订单管理</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="main_body" id="body">
    <p>aaaaaaaa</p>
  </div>
</body>

</html>