<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增商品</title>
</head>
<body>
<form action="http://localhost:8080/lnb/category_add" method="post">
    <label for="name">名称</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="discription">描述</label><br>
    <input type="text" id="discription" name="discription"><br>
    <label for="price">价格</label><br>
    <input type="number" id="price" name="price" step="0.01" min="0"><br>
    <label for="userId">所有者</label><br>
    <input type="number" id="userId" name="userId"><br>
    <input type="submit" >
</form>
</body>
</html>