<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        登录
    </title>
    </meta>
</head>

<body>
    <form action="http://localhost:8080/lnb/login_verification" method="post">
        <label for="username">
            用户名
        </label>
        <br>
        <input id="username" name="username" type="text">
        <br>
        <label for="password">
            密码
        </label>
        <br>
        <input id="password" name="password" type="password">
        <br>
        <input type="submit">
        </input>
        </br>
        </input>
        </br>
        </br>
        </input>
        </br>
    </form>
</body>

</html>