<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="http://localhost:8080/lnb/register_verification" method="post">
    <label for="username">用户名</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">密码</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="email">邮箱</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="phoneNumber">手机号码</label><br>
    <input type="text" id="phoneNumber" name="phoneNumber"><br>
    <input type="submit" >
</form>
</body>
</html>